<div>
  <ul>
    <li [ngClass]="{'isSelected': isSelected ==='convenios'}"
        (click)="showDetails('convenios')">
        Convenio + nombre
    </li>
    <li [ngClass]="{'isSelected': isSelected ==='archivos'}"
        (click)="showDetails('archivos')">
        Archivos
    </li>
    <li [ngClass]="{'isSelected': isSelected ==='relacionados'}"
        (click)="showDetails('relacionados')">
        Relacionados
    </li>
  </ul>
</div>
<app-show-detail    *ngIf="isSelected ==='convenios'"
                    [detailAgreement]="details_agreement">
                </app-show-detail>
<app-related *ngIf="isSelected ==='relacionados'"></app-related>
<app-folders *ngIf="isSelected ==='archivos'"></app-folders>