<div class="backgroung_modal_error">
  <p class="title-modal">{{title_modal}}</p>
  <button  class="close-modal" aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img class="logo_warning" src="../../../assets/images/warning.jpg">
  <span >{{data}}</span>
</div>
<div class="backgroung_modal_error">
  <button type="button" class="button-modal" (click)="activeModal.close('Close click')">Close</button>
</div>