.registro_convenios{
    margin-left: 18%;
    bottom: 0;
    background-color:#F6F6F6; 
}
.button{
    margin-top:2px;
    margin-left: 3px;
    display: inline-block;
    border-radius: 4px;
    font-family: "arial-black";
    font-size: 14px;
    color: #000;
    padding: 8px 12px;
    cursor: pointer;   
}
.is_disabled{
    background: #F6F6F6;
    cursor:not-allowed;
}
.is_abled{
    background: #FFF;
    cursor: pointer; 
}