<nav class="lat-nav">
  <div class="user-zone">
    {{nombreUsuario}}
    <hr /> {{centro}}
  </div>
  <div class="link-zone">
      <ul>
        <li [ngClass]="{'is_active': isActive ==='filtro' , 'not_active': isActive !=='filtro' }"
            (click)="showModel('filtro')">
            {{'nav_bar.filtro_instrumentos' | translate}}
        </li>
        <li [ngClass]="{'is_active': isActive ==='convenios' , 'not_active': isActive !=='convenios' }"
            (click)="showModel('convenios')">
            {{'nav_bar.convenios' | translate}}
        </li>
        <li [ngClass]="{'is_active': isActive ==='encomiendas' , 'not_active': isActive !=='encomiendas' }"
            (click)="showModel('encomiendas')">
            {{'nav_bar.encomiendas' | translate}}
        </li>
        <li [ngClass]="{'is_active': isActive ==='resoluciones' , 'not_active': isActive !=='resoluciones' }"
            (click)="showModel('resoluciones')">
            {{'nav_bar.decretos_resoluciones' | translate}}
        </li>
        <li [ngClass]="{'is_active': isActive ==='accesos' , 'not_active': isActive !=='accesos' }"
            (click)="showModel('accesos')">
            {{'nav_bar.accesos' | translate}}
        </li>
        <li [ngClass]="{'is_active': isActive ==='administracion' , 'not_active': isActive !=='administracion' }"
            (click)="showModel('administracion')">
            {{'nav_bar.administracion' | translate}}
        </li>
      </ul>
  </div>
</nav>