<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="width: 15%">{{'lista-encomiendas.num_encomienda' | translate}}</th>
      <th scope="col" style="width: 15%">{{'lista-encomiendas.fecha_formalizacion' | translate}}</th>
      <th scope="col" style="width: 45%">{{'lista-encomiendas.titulo' | translate}}</th>
      <th scope="col" style="width: 25%">{{'lista-encomiendas.vigencia' | translate}}</th>
    </tr>
  </thead>
  <tbody >
    <tr>
      <td style="width: 15%">Algo</td>
      <td style="width: 15%">Algo</td>
      <td style="width: 45%">Algo</td>
      <td style="width: 25%">Algo</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="pagination=$event"></pagination-controls>